body {
font-family: arial, sans-serif;	
padding: 0 5%;
}


body > header {
	margin-bottom: 40px;
}

body > footer {
	text-align: center;
	margin-top: 40px;
	border-top: 1px solid #cccccc;
}

body > header h1 { 
	display: inline-block;
}
body > header nav {
	display: inline-block;
}
body > header nav ul{
	list-style: none;

}	
body > header nav ul li {
display: inline-block;
}
